header.sitenav {
    display: flex;
    justify-content: center;
    padding: 10px 0px 5px 0px;
}

h1.sitetitle {
    font-size: 30px;
    color: white;
}

.cardBox {
    padding: 15px;
    background: rgb(221, 220, 220);
    border-radius: 10px;
    margin: 20px 10px;
}

.cardBox.darker {
    background: rgb(150, 150, 150);
}

.btn-instructions {
    color: white;
    font-size: 10px;
    font-weight: 600;
    background-color: #6d6d6d;
    border-radius: 50px;
}

.btn-instructions:hover {
    color: white;
}

.card-result {
    text-align: center;
}

.card-result img {
    max-height: 500px;
}

.exampleGrid td {
    border: 1px solid black;
    width: 30px;
    height: 30px;
}

td.GridEmpty {
    border: 0px;
}

td.GridLetter {
    padding: 0px 10px;
    border-top: 0px;
    font-weight: 600;
}

td.GridNumber {
    border-left: 0px;
    padding: 0px 10px;
    font-weight: 600;
}