body {
    background: #222222;
}

header.sitenav {
    display: flex;
    justify-content: center;
    padding: 10px 0px 5px 0px;
    border-bottom: 1px solid #ef1c63;
}

h1.sitetitle {
    font-size: 30px;
    color: #94ca04;
}

.container-fluid, .cardBox.darker {
    background: #222222;
}

.cardBox {
    padding: 15px;
    background: #353535;
    border-radius: 10px;
    margin: 20px 10px;
    border-bottom: 3px solid #181818;
}

div.cardBox h5 {
    color: #94ca04;
}

.cardBox p, .cardBox label {
    color: #e3da7d;
}

.btn-instructions {
    color: white;
    font-size: 10px;
    font-weight: 600;
    background-color: #6d6d6d;
    border-radius: 50px;
}

.btn-instructions:hover {
    color: white;
}

.card-result {
    text-align: center;
}

.card-result img {
    max-height: 500px;
}

.exampleGrid td {
    border: 1px solid white;
    width: 30px;
    height: 30px;
}

td.GridEmpty {
    border: 0px;
}

td.GridLetter {
    padding: 0px 10px;
    border-top: 0px;
    font-weight: 600;
    color: white;
}

td.GridNumber {
    border-left: 0px;
    padding: 0px 10px;
    font-weight: 600;
    color: white;
}