.layoutForm, .cardForm {
    background-color: #222222;
    border-radius: 15px;
    padding: 15px 20px;
    margin: 20px 0px 0px 0px;
}

.layoutForm .fieldGroup {
    display: flex;
    flex-wrap: wrap;
}

.layoutForm .fieldGroup.invisible {
    display: none;
}

.fieldGroup div {
    min-width: 30%;
}

.fieldGroup div label, .level label {
    min-width: 50px;
}

.btn-pink {
    color: #fff;
    background: #ef1c63;
}

input, select {
    background: #222222;
    border: 0px;
    border-radius: 15px;
    margin-left: 10px;
    padding: 5px 10px;
    color: #fff;
}

.fieldGroup input,
.fieldGroup select,
.cardForm input,
.cardForm select {
    background: #353535;
    margin-bottom: 5px;
}

.closeBtn {
    position: relative;
    top: -30px;
    left: 95%;
    margin-bottom: -25px;
    font-size: 20px;
    font-weight: 800;
    color: black;
    background: #dddcdc;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    width: 30px;
}